---
export interface Props {
  videoID: string;
}

const { videoID } = Astro.props;
const videoURL = `https://www.youtube.com/embed/${videoID}`;
---

<div class="bg active" id="modal">
  <div class="card-video active">
    <iframe
      src={videoURL}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>
<style>
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }

  .bg.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .card-video {
    background-color: #fff;
    width: min(100%, 35rem);
    aspect-ratio: 16/11;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
    transform: scale(0);
    transition: transform 0.3s ease-in-out 0.5s;
  }

  .card-video.active {
    transform: scale(1);
  }

  iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
<script>
  const modal = document.getElementById("modal");
  modal.addEventListener("click", () => {
    modal.setAttribute("class", "bg");
  });
</script>
